﻿@model kebapcidb.Models.Admin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adminkadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adminkadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adminsifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adminsifre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdminID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
