﻿@model IEnumerable<kebapcidb.Models.Admin>

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adminkadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adminsifre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Adminkadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adminsifre)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.AdminID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdminID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdminID })
        </td>
    </tr>
}

</table>
