﻿@model IEnumerable<kebapcidb.Models.Siparis>

@{
    ViewBag.Title = "Siparis";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SiparisAd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SiparisAd)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.SiparisID }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.SiparisID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.SiparisID })
        </td>
    </tr>
}

</table>
