﻿@model kebapcidb.Models.Musteri

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Musteri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MusteriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusteriAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Musterikadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Musterikadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MusteriSifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusteriSifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MusteriTelno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusteriTelno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MusteriAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusteriAdres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MusteriID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
