﻿@model IEnumerable<kebapcidb.Models.Musteri>

@{
    ViewBag.Title = "Musteri";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MusteriAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Musterikadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MusteriSifre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MusteriTelno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MusteriAdres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MusteriAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Musterikadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MusteriSifre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MusteriTelno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MusteriAdres)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.MusteriID }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.MusteriID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.MusteriID })
        </td>
    </tr>
}

</table>
