﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>


<body>
    <header>
        <div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block">Kral Kebap</div>
        <div class="tagline-lower text-center text-expanded text-shadow text-uppercase text-white mb-5 d-none d-lg-block">Aradığınız Lezzetin Kralı burada...</div>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
            <div class="container">
                <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mx-auto">




                        <li class="nav-item active px-lg-3">
                            <a class="nav-link text-uppercase text-expanded" href="~/Home/Index">
                                Ana Sayfa
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item active px-lg-3">
                            <a class="nav-link text-uppercase text-expanded" href="~/Home/Galeri">Galeri</a>
                        </li>


                        <li class="nav-item active px-lg-3">
                            <a class="nav-link text-uppercase text-expanded" href="~/Home/Hakkımızda">Hakkımızda</a>
                        </li>

                        <li class="nav-item active px-lg-3">
                            <a class="nav-link text-uppercase text-expanded" href="~/Home/Menuler">Menüler</a>
                        </li>

                        <li class="nav-item active px-lg-3">
                            <a class="nav-link text-uppercase text-expanded" href="~/Home/İletisim">İletişim</a>
                        </li>
                        <li class="nav-item active px-lg-3">
                            <a class="nav-link text-uppercase text-expanded" href="~/Home/GirisYap">Giriş Yap</a>
                        </li>

                        <li class="nav-item active px-lg-3">
                            <a class="nav-link text-uppercase text-expanded" href="~/Home/Kaydol">Kaydol</a>
                        </li>
                        <li class="nav-item active px-lg-3">
                            <a class="nav-link text-uppercase text-expanded" href="~/Account/LoginAdmin">Admin</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/bootstrap.bundle.js"></script>
    <footer class="bg-faded text-center py-5">

        <div class="container">
            <p class="m-0"> &copy;2017 <strong>KralKebap </strong>Tüm Hakları Saklıdır. </p>
        </div>
    </footer>




</body>




</html>
