﻿@model IEnumerable<kebapcidb.Models.SiparisKayit>

@{
    ViewBag.Title = "Sipariş Kayıt";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Kayıt", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SiparisFiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Musteri.MusteriAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Siparis.SiparisAd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SiparisFiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Musteri.MusteriAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Siparis.SiparisAd)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.KayitID }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.KayitID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.KayitID })
        </td>
    </tr>
}

</table>
