﻿
@{
    ViewBag.Title = "Galeri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-faded p-4 my-4">
    <!-- Image Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block img-fluid w-100" src="~/Content/img/slidekebap1.jpg" alt="">

                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid w-100" src="~/Content/img/slidekebap2.jpg" alt="">

                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid w-100" src="~/Content/img/slidekebap3.jpg" alt="">

                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">

        <strong>Lokantamızdan Fotoğraflar</strong>
    </h2>
    <hr class="divider">
    <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
                <img class="card-img-top" src="~/Content/img/Adsız1.jpg" alt="">
                

            </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
                <img class="card-img-top" src="~/Content/img/Adsız3.jpg" alt="">
                


            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <img class="card-img-top" src="~/Content/img/Adsız2.jpg" alt="">
                

            </div>
        </div>
    </div>
</div>

