﻿
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
        
        <strong>HAKKIMIZDA</strong>
    </h2>
    <hr class="divider">
    <p>Lokantamız Sakarya'nın en ünlü lokantalarından biri olup 1987'den beri hizmetinizdedir. Acun Ilıcalı Ali Ağaoğlu ve daha birsürü ünlü isimde mağazamızdaki kebaplardan tatmıştır ve nusretin etlerinin bizim lokantamızın etleriyle yarışamayacağını söylemiştir. Hakkımızda kısmına sadece bunu yazsak yeterlidir sanırım. Sizde bu tadı tatmak istiyorsanız lokantamıza gelip sıcak ortamdan ve ucuz fiyattan faydalanıp etlerimizi tadabilirsiniz.</p>
    
</div>

