﻿@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="bg-faded p-4 my-4">
        <!-- Image Carousel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="d-block img-fluid w-100" src="~/Content/img/slidekebap1.jpg"  alt="">
                    
                    
                    

                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="text-shadow">Kebaplarımız</h3>
                        <p class="text-shadow"></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid w-100" src="~/Content/img/slidekebap2.jpg" alt="">
                  
                    
                    

                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="text-shadow">sizin ağzınıza</h3>
                        <p class="text-shadow"></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid w-100" src="~/Content/img/slidekebap3.jpg" alt="">
                    
                    

                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="text-shadow">layık...</h3>
                        <p class="text-shadow"></p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- Welcome Message -->
        <div class="text-center mt-4">
            <div class="text-heading text-muted text-lg">Kral Kebap'ın</div>
            <h1 class="my-2">Ana Sayfasına</h1>
            <div class="text-heading text-muted text-lg">
                
                <strong>HoşGeldiniz</strong>
            </div>
        </div>
    </div>
    <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
            <strong>Kebaplarımız 10 numara..</strong>
        </h2>
        <hr class="divider">

        <img class="img-fluid float-left mr-4 d-none d-lg-block" src="~/Content/img/intro-pic.jpg" />
        
        <p>Nusret çok mu pahalı? Ucuz fiyata kaliteli et yiyemiyo musunuz? Hem ucuz hem lezzetli hem kaliteli eti başka bir yerde bulamazsınız. Bunların yanında samimi görüntümüzle sizi evinizde gibi hissettiriyoruz...</p>
        <br />
        <br />
        <br />
        <br />
        

    </div>
    
</div>
<!-- /.container -->