﻿
@{
    ViewBag.Title = "İletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">

        <strong>İLETİŞİM</strong>
    </h2>
    <hr class="divider">
    <p>Telefon Numaraları: </p><br />
    <p>Cep:           Ev:         Fax:      </p><br />
    <p>E-mail: </p><br />
    <p>1.mail:  emre.kocaman@ogr.sakarya.edu.tr  2.mail:  Omer.saral@ogr.sakarya.edu.tr </p><br />
    <p>Adres: </p><br />
    <p>xxx Mahallesi xxx Caddesi xxx Sokak No:xxx Serdivan/Sakarya</p>

</div>


