﻿
@{
    ViewBag.Title = "Kaydol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">

        <strong>KAYDOL</strong>
    </h2>
    <hr class="divider">
    <form>
        <div class="row">
            <div class="form-group col-lg-4">
                <label class="text-heading">Ad Soyad: </label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-lg-4">
                <label class="text-heading">Kullanıcı Adı: </label>
                <input type="email" class="form-control">
            </div>
            <br />
            <div class="form-group col-lg-4">
                <label class="text-heading">Şifre: </label>
                <input type="email" class="form-control">
            </div>
            <div class="form-group col-lg-4">
                <label class="text-heading">Telefon Numarası: </label>
                <input type="tel" class="form-control">
            </div>
            <br />
            <div class="form-group col-lg-4">
                <label class="text-heading">Adres: </label>
                <input type="tel" class="form-control">
            </div>

            <div class="form-group col-lg-12">
                <button type="submit" class="btn btn-secondary">Kaydol</button>
            </div>
        </div>
    </form>
</div>

