﻿
@{
    ViewBag.Title = "Menuler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/img/alipasakebap.jpg" alt="">
            <div class="card-body text-center">
                

                <h4 class="card-title m-0">
                    Ali Paşa Kebap: 15TL
                </h4>
                <br />
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-secondary">Sipariş Ver</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/img/adanakebap.jpg"  alt="">
           
            <div class="card-body text-center">

                <h4 class="card-title m-0">
                    Adana Kebap:18TL
                </h4>
                <br />
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-secondary">Sipariş Ver</button>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
            
            <img class="card-img-top" src="~/Content/img/cagkebap.jpg" alt="">
            <div class="card-body text-center">

                <h4 class="card-title m-0">
                    Cağ Kebap: 25TL
                </h4>
                <br />
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-secondary">Sipariş Ver</button>
                </div>
            </div>
        </div>
    </div>


</div>
<br />


<div class="row">
    <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/img/centikkebap.jpg" alt="">
           
            <div class="card-body text-center">

                <h4 class="card-title m-0">
                    Çentik Kebap: 20TL
                </h4>
                <br />
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-secondary">Sipariş Ver</button>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/img/cokertmekebap.jpg" alt="">
          
            <div class="card-body text-center">

                <h4 class="card-title m-0">
                    Çökertme Kebap: 16TL
                </h4>
                <br />
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-secondary">Sipariş Ver</button>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/img/iskenderkebap.jpg" alt="">
            
            <div class="card-body text-center">

                <h4 class="card-title m-0">
                    İskender : 20TL
                </h4>
                <br />
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-secondary">Sipariş Ver</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/img/kuyukebap.jpg" alt="">
            
            <div class="card-body text-center">

                <h4 class="card-title m-0">
                    Kuyu Kebap: 20TL
                </h4>
                <br />
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-secondary">Sipariş Ver</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/img/ormankebap.jpg" alt="">
            
            <div class="card-body text-center">

                <h4 class="card-title m-0">
                    Orman Kebap: 20TL
                </h4>
                <br />
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-secondary">Sipariş Ver</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/img/patlicankebap.jpg" alt="">
            
            <div class="card-body text-center">

                <h4 class="card-title m-0">
                    Patlıcan Kebap: 12TL
                </h4>
                <br />
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-secondary">Sipariş Ver</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br />


<div class="row">
    <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/img/simitkebap.jpg" alt="">
            
            <div class="card-body text-center">

                <h4 class="card-title m-0">
                    Simit Kebap: 20TL
                </h4>
                <br />
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-secondary">Sipariş Ver</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/img/taskebap.jpg" alt="">
            <div class="card-body text-center">

                <h4 class="card-title m-0">
                    Tas Kebap: 25TL
                </h4>
                <br />
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-secondary">Sipariş Ver</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/img/tenekekebap.jpg" alt="">
            <div class="card-body text-center">
                

                <h4 class="card-title m-0">
                    Teneke Kebap: 20TL
                </h4>
                <br />
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-secondary">Sipariş Ver</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br />


<div class="row">
    <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/img/testikebap.jpg" alt="">
            
            <div class="card-body text-center">

                <h4 class="card-title m-0">
                    Testi Kebap: 20TL
                </h4>
                <br />
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-secondary">Sipariş Ver</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/img/urfakebap.jpg" alt="">
            
            <div class="card-body text-center">

                <h4 class="card-title m-0">
                    Urfa Kebap: 20TL
                </h4>
                <br />
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-secondary">Sipariş Ver</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/img/yogurtlukebap.jpg" alt="">
            
            <div class="card-body text-center">

                <h4 class="card-title m-0">
                    Yoğurtlu Kebap: 15TL
                </h4>
                <br />
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-secondary">Sipariş Ver</button>
                </div>
            </div>
        </div>
    </div>
</div>

